<%= form_for(citizenship) do |f| %>
  <% if citizenship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(citizenship.errors.count, "error") %> prohibited this citizenship from being saved:</h2>

      <ul>
      <% citizenship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field hdb-form-field">
    <%= f.label :iso3166 %>
    <%= f.text_field :iso3166 %>
  </div>

  <div class="field hdb-form-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
