<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @referralmedical.code %>
</p>

<p>
  <strong>Text:</strong>
  <%= @referralmedical.text %>
</p>

<%= link_to 'Edit', edit_referralmedical_path(@referralmedical) %> |
<%= link_to 'Back', referralmedicals_path %>
