<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @problem.code %>
</p>

<p>
  <strong>Text:</strong>
  <%= @problem.text %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
