<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @familystatus.code %>
</p>

<p>
  <strong>Text:</strong>
  <%= @familystatus.text %>
</p>

<%= link_to 'Edit', edit_familystatus_path(@familystatus) %> |
<%= link_to 'Back', familystatuses_path %>
