<% if (notice) %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
      <th>t(:username)</th>
      <th>t(:signature)</th>
      <th>t(:password_digest)</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to t(:edit), edit_user_path(user), class: 'btn btn-table-mini btn-warning'  %></td>
        <td><%= link_to t(:destroy), user, method: :delete, data: { confirm: t(:deleteuserconfirm) }, class: 'btn btn-table-mini btn-danger'  %></td>
        <td><%= user.username %></td>
        <td><%= user.signature %></td>
        <td><%= user.password_digest %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
