<p id="notice"><%= notice %></p>

<h1>Homeplaces</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homeplaces.each do |homeplace| %>
      <tr>
        <td><%= homeplace.code %></td>
        <td><%= homeplace.text %></td>
        <td><%= link_to 'Show', homeplace %></td>
        <td><%= link_to 'Edit', edit_homeplace_path(homeplace) %></td>
        <td><%= link_to 'Destroy', homeplace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homeplace', new_homeplace_path %>
