<p id="notice"><%= notice %></p>

<h1>Insuranceproblems</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insuranceproblems.each do |insuranceproblem| %>
      <tr>
        <td><%= insuranceproblem.code %></td>
        <td><%= insuranceproblem.text %></td>
        <td><%= link_to 'Show', insuranceproblem %></td>
        <td><%= link_to 'Edit', edit_insuranceproblem_path(insuranceproblem) %></td>
        <td><%= link_to 'Destroy', insuranceproblem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insuranceproblem', new_insuranceproblem_path %>
