<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @insuranceproblem.code %>
</p>

<p>
  <strong>Text:</strong>
  <%= @insuranceproblem.text %>
</p>

<%= link_to 'Edit', edit_insuranceproblem_path(@insuranceproblem) %> |
<%= link_to 'Back', insuranceproblems_path %>
