<%= form_for(client, html: {class: "form-horizontal client-form"}) do |f| %>
<% if client.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(client.errors.count, t(:error)) %> <%= t(:client_prohibited_save) %></h2>

  <ul>
    <% client.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<table class="hdb-form-layout-table hdb-form-client">
  <tr class="field hdb-form-row">
    <td class="hdb-form-label"><%= f.label :id, class: "hdb-label" %></td>
    <td class="hdb-form-field" id='td_client_id'><%= f.text_field :id, class: "form-control hdb-form-input" %></td>
  </tr>

  <tr class="field hdb-form-row">
    <td class="hdb-form-label"><%= f.label :lastname, class: 'hdb-label' %></td>
    <td class="hdb-form-field" id='td_client_lastname'><%= f.text_field :lastname, class: "form-control hdb-form-input" %></td>

    <td class="hdb-form-label"><%= f.label :firstname, class: 'hdb-label' %></td>
    <td class="hdb-form-field" id='td_client_firstname'><%= f.text_field :firstname, class: "form-control hdb-form-input" %></td>
  </tr>

  <tr class="field hdb-form-row">
    <td class="hdb-form-label"><%= f.label :birthdate, class: 'hdb-label' %></td>
    <td class="hdb-form-field" id='td_client_birthdate'><%= f.text_field :birthdate, value: client.birthdate, class: "form-control hdb-form-input", :id => "client_birthdate_datepicker" %></td>

    <td class="hdb-form-label"><%= f.label :sex, class: 'hdb-label' %></td>
    <td class="hdb-form-field"><%= f.collection_select :sex_id, Sex.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>
  </tr>

  <tr class="field hdb-form-row">
    <td class="hdb-form-label"><%= f.label :homeplace, class: 'hdb-label' %></td>
    <td class="hdb-form-field"><%= f.collection_select :homeplace_id, Homeplace.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>
  </tr>

  <tr class="field hdb-form-row">
    <td class="hdb-form-label"><%= f.label :citizenship, class: 'hdb-label' %></td>
    <td class="hdb-form-field-nest">
      <table class="hdb-form-table-nest">
        <tr>
          <td class="hdb-form-nest-w80">
            <div class='hdb-typeahead-div-w80' id='div_client_citizenship_typeahead'>
              <%= text_field_tag :citizenship_input, nil, class: "form-control typeahead hdb-form-input", id: "citizenship_input", placeholder: 'Staat' %>
            </div>
          </td>
          <td class="hdb-form-nest-w20">
            <%= f.collection_select :citizenship_id, Citizenship.all, :id, :id, {prompt: true}, {:class => 'form-control hdb-form-input'} %>
          </td>
        </tr>
      </table>
    </td>

    <td class="hdb-form-label"><%= f.label :legalstatus, class: 'hdb-label' %></td>
    <td class="hdb-form-field"><%= f.collection_select :legalstatus_id, Legalstatus.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>
  </tr>

  <tr class="field hdb-form-row">
    <td class="hdb-form-label"><%= f.label :familystatus, class: 'hdb-label' %></td>
    <td class="hdb-form-field"><%= f.collection_select :familystatus_id, Familystatus.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>

    <td class="hdb-form-label"><%= f.label :childrencount, class: 'hdb-label' %></td>
    <td class="hdb-form-field"><%= f.number_field :childrencount, :value => '0', :min => '-1', :max => '20', class: "form-control hdb-form-input" %></td>
  </tr>

  <tr class="field hdb-form-row">
    <%
    if !client.datefirstcontact
      client.datefirstcontact = Date.today
    end
    %>
    <td class="hdb-form-label"><%= f.label :datefirstcontact, class: 'hdb-label' %></td>
    <td class="hdb-form-field" id='td_client_datefirstcontact'><%= f.text_field :datefirstcontact, value: client.datefirstcontact, class: "form-control hdb-form-input", :id => "client_datefirstcontact_datepicker" %></td>
  </tr>

  <tr class="field hdb-form-row">
    <td class="hdb-form-label"><%= f.label :referrer, class: 'hdb-label' %></td>
    <td class="hdb-form-field"><%= f.collection_select :referrer_id, Referrer.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>

    <td class="hdb-form-label"><%= f.label :referrerfreetext, class: 'hdb-label', id: 'client_referrerfreetext_label' %></td>
    <td class="hdb-form-field" id='td_client_referrerfreetext'><%= f.text_field :referrerfreetext, class: "form-control hdb-form-input" %></td>
  </tr>

  <tr class="actions">
    <td colspan="4" class="hdb-form-buttons">
      <button type="submit" id="btnSubmit" class="btn btn-hdb-std btn-client-new" disabled="disabled"><%= t(:save_client) %></button>
      <%= link_to t(:list_contacts), contacts_path(:client_id => client.id), class: 'btn btn-hdb-std btn-warning' %>
      <%= link_to 'Abbrechen', clients_path, class: 'btn btn-hdb-std btn-danger' %></div>
    </td>
  </tr>
</table>

<% end %>
