<p id="notice"><%= notice %></p>

<h1><%= t(:clients) %></h1>

<table class='clienttable'>
  <thead>
    <tr>
      <th colspan="5"></th>
      <th class="rotate"><div><span><%= t(:code) %></span></div></th>
      <th class="rotate"><div><span><%= t(:lastname) %></span></div></th>
      <th class="rotate"><div><span><%= t(:firstname) %></span></div></th>
      <th class="rotate"><div><span><%= t(:birthdate) %></span></div></th>
      <th class="rotate"><div><span><%= t(:sex) %></span></div></th>
      <th class="rotate"><div><span><%= t(:homeplace) %></span></div></th>
      <th class="rotate"><div><span><%= t(:citizenship) %></span></div></th>
      <th class="rotate"><div><span><%= t(:legalstatus) %></span></div></th>
      <th class="rotate"><div><span><%= t(:familystatus) %></span></div></th>
      <th class="rotate"><div><span><%= t(:childrencount) %></span></div></th>
      <th class="rotate"><div><span><%= t(:datefirstcontact) %></span></div></th>
      <th class="rotate"><div><span><%= t(:referrer) %></span></div></th>
      <th class="rotate"><div><span><%= t(:referrerfreetext) %></span></div></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to t(:show), client %></td>
        <td><%= link_to t(:edit), edit_client_path(client) %></td>
        <td><%= link_to t(:addcontact), new_contact_path(:client_id => client.id) %></td>
        <td><%= link_to t(:listcontacts), contacts_path(:client_id => client.id) %></td>
        <td><%= link_to t(:destroy), client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= client.id %></td>
        <td><%= client.lastname %></td>
        <td><%= client.firstname %></td>
        <td><%= client.birthdate %></td>
        <td><%= client.sex.id %></td>
        <td><%= client.homeplace.id %></td>
        <td><%= client.citizenship.id %></td>
        <td><%= client.legalstatus.id %></td>
        <td><%= client.familystatus.id %></td>
        <td><%= client.childrencount %></td>
        <td><%= client.datefirstcontact %></td>
        <td><%= client.referrer.id %></td>
        <td><%= client.referrerfreetext %></td>
      </tr>
    <% end %>
  </tbody>
</table>
