<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @referralcarita.code %>
</p>

<p>
  <strong>Text:</strong>
  <%= @referralcarita.text %>
</p>

<%= link_to 'Edit', edit_referralcarita_path(@referralcarita) %> |
<%= link_to 'Back', referralcaritas_index_path %>
