<%= form_for(failedinsurance) do |f| %>
  <% if failedinsurance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(failedinsurance.errors.count, "error") %> prohibited this failedinsurance from being saved:</h2>

      <ul>
      <% failedinsurance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
