<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @failedinsurance.code %>
</p>

<p>
  <strong>Text:</strong>
  <%= @failedinsurance.text %>
</p>

<%= link_to 'Edit', edit_failedinsurance_path(@failedinsurance) %> |
<%= link_to 'Back', failedinsurances_path %>
