<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @successfulinsurance.code %>
</p>

<p>
  <strong>Text:</strong>
  <%= @successfulinsurance.text %>
</p>

<%= link_to 'Edit', edit_successfulinsurance_path(@successfulinsurance) %> |
<%= link_to 'Back', successfulinsurances_path %>
