<%= form_for(contact) do |f| %>
<% if contact.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(contact.errors.count, t(:error)) %> <%= t(:contact_prohibited_save) %></h2>

  <ul>
    <% contact.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= f.hidden_field :client_id %>
<table class="hdb-client-data-table">
  <tr class="hdb-form-noinput-headrow">
    <th class="hdb-form-noinput-headcol" colspan="2"><label class="hdb-label"><%= t(:client_data) %></label></th>
    <th class="hdb-form-noinput-headcol hdb-form-noinput-label"><%= label :client, :id, class: "hdb-label" %></th>
    <th class="hdb-form-noinput-headcol hdb-form-noinput-field"><%= @contact.client.id %></th>
  </tr>
  <tr class="hdb-form-noinput-row">
    <td class="hdb-form-noinput-label"><%= label :client, :firstname, class: "hdb-label" %></td>
    <td class="hdb-form-noinput-field"><%= @contact.client.firstname %></td>

    <td class="hdb-form-noinput-label"><%= label :client, :lastname, class: "hdb-label" %></td>
    <td class="hdb-form-noinput-field"><%= @contact.client.lastname %></td>
  </tr>
  <tr class="hdb-form-noinput-row">
    <td class="hdb-form-noinput-label"><%= label :client, :birthdate, class: "hdb-label" %></td>
    <td class="hdb-form-noinput-field"><%= @contact.client.birthdate %></td>

    <td class="hdb-form-noinput-label"><%= label :client, :sex, class: "hdb-label" %></td>
    <td class="hdb-form-noinput-field"><%= @contact.client.sex.text %></td>
  </tr>
  <tr class="hdb-form-noinput-row">
    <td class="hdb-form-noinput-label"><%= label :client, :homeplace, class: "hdb-label" %></td>
    <td class="hdb-form-noinput-field"><%= @contact.client.homeplace.text %></td>
  </tr>
  <tr class="hdb-form-noinput-row">
    <td class="hdb-form-noinput-label"><%= label :client, :citizenship, class: "hdb-label" %></td>
    <td class="hdb-form-noinput-field"><%= @contact.client.citizenship.name %></td>

    <td class="hdb-form-noinput-label"><%= label :client, :legalstatus, class: "hdb-label" %></td>
    <td class="hdb-form-noinput-field"><%= @contact.client.legalstatus.text %></td>
  </tr>
  <tr class="hdb-form-noinput-row">
    <td class="hdb-form-noinput-label"><%= label :client, :familystatus, class: "hdb-label" %></td>
    <td class="hdb-form-noinput-field"><%= @contact.client.familystatus.text %></td>

    <td class="hdb-form-noinput-label"><%= label :client, :childrencount, class: "hdb-label" %></td>
    <td class="hdb-form-noinput-field"><%= @contact.client.childrencount %></td>
  </tr>
  <tr class="hdb-form-noinput-row">
    <td class="hdb-form-noinput-label"><%= label :client, :datefirstcontact, class: "hdb-label" %></td>
    <td class="hdb-form-noinput-field"><%= @contact.client.datefirstcontact %></td>

    <td class="hdb-form-noinput-label"><%= label :client, :referrer, class: "hdb-label" %></td>
    <td class="hdb-form-noinput-field"><%= @contact.client.referrer.text %></td>
  </tr>
  <tr><td colspan="4">
    <%= link_to t(:edit_client), edit_client_path(contact.client), class: "btn btn-hdb-std btn-client-edit" %><span class="client-edit-cancel-warning"><%= t(:edit_client_cancel_warning) %></span></td>
    </tr>

</table>

<hr />

<table class="hdb-form-layout-table hdb-form-contact">
  <tr class="field hdb-form-row">
    <%
    if !contact.contactdate
      contact.contactdate = Date.today
    end
    %>
    <td class="hdb-form-label"><%= f.label :contactdate, class: "hdb-label" %></td>
    <td class="hdb-form-field"><%= f.date_field :contactdate, :value => contact.contactdate, class: "form-control hdb-form-input", :id => "contactdate_datepicker" %></td>

    <td class="hdb-form-label"><%= f.label :counsellor, class: "hdb-label" %></td>
    <td class="hdb-form-field"><%= f.collection_select :counsellor_id, User.order('created_at'), :id, :username, {prompt: false}, { :class => "form-control hdb-form-input hdb-form-select" } %></td>
  </tr>

  <tr class="field hdb-form-row">
    <td class="hdb-form-label"><%= f.label :contactreason, class: "hdb-label" %></td>
    <td class="hdb-form-field"><%= f.collection_select :contactreason_id, Contactreason.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>
    <td class="hdb-form-label"><%= f.label :contactreasonfreetext, class: "hdb-label", id: "contact_contactreasonfreetext_label" %></td>
    <td class="hdb-form-field"><%= f.text_field :contactreasonfreetext, class: "form-control hdb-form-input" %></td>
  </tr>

  <tr class="field hdb-form-row">
    <td class="hdb-form-label"><%= f.label :insurancestatus, class: "hdb-label" %></td>
    <td class="hdb-form-field"><%= f.collection_select :insurancestatus_id, Insurancestatus.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>
  </tr>

  <tr class="field hdb-form-row">
    <td class="hdb-form-label"><%= f.label :counselledperson, class: "hdb-label" %></td>
    <td class="hdb-form-field"><%= f.collection_select :counselledperson_id, Counselledpersons.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>
  </tr>

  <tr class="field hdb-form-row">
    <td class="hdb-form-label"><%= f.label :translatorused, class: "hdb-label" %></td>
    <td class="hdb-form-field"><%= f.collection_select :translatorused_id, Translatorused.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>
  </tr>

  <tr class="hdb-form-row hdb-form-row-grouptitle hdb-form-contact-darker">
    <td colspan="4" class="hdb-form-grouptitle"><%= label :contact, :identifiedproblems %></td>
  </tr>

  <tr class="field hdb-form-row hdb-form-contact-darker">
    <td class="hdb-form-checkbox"><%= f.check_box :has_insuranceproblem %></td>
    <td class="hdb-form-checkboxlabel"><%= f.label :has_insuranceproblem, class: "hdb-label" %></td>
    <td class="hdb-form-label"><%= f.label :insuranceproblem, class: "hdb-label", id: "contact_insuranceproblem_id_label" %></td>
    <td class="hdb-form-field"><%= f.collection_select :insuranceproblem_id, Insuranceproblem.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>
  </tr>

  <tr class="field hdb-form-row hdb-form-contact-darker">
    <td class="hdb-form-checkbox"><%= f.check_box :has_paymentproblem %></td>
    <td class="hdb-form-checkboxlabel"><%= f.label :has_paymentproblem, class: "hdb-label" %></td>
    <td colspan="2"></td>
  </tr>

  <tr class="field hdb-form-row hdb-form-contact-darker">
    <td class="hdb-form-checkbox"><%= f.check_box :has_housingproblem %></td>
    <td class="hdb-form-checkboxlabel"><%= f.label :has_housingproblem, class: "hdb-label" %></td>
    <td colspan="2"></td>
  </tr>

  <tr class="field hdb-form-row hdb-form-contact-darker">
    <td class="hdb-form-checkbox"><%= f.check_box :has_legalproblem %></td>
    <td class="hdb-form-checkboxlabel"><%= f.label :has_legalproblem, class: "hdb-label" %></td>
    <td colspan="2"></td>
  </tr>

  <tr class="field hdb-form-row hdb-form-contact-darker">
    <td class="hdb-form-checkbox"><%= f.check_box :has_workproblem %></td>
    <td class="hdb-form-checkboxlabel"><%= f.label :has_workproblem, class: "hdb-label" %></td>
    <td colspan="2"></td>
  </tr>

  <tr class="field hdb-form-row hdb-form-contact-darker">
    <td class="hdb-form-checkbox"><%= f.check_box :has_psychosocialproblem %></td>
    <td class="hdb-form-checkboxlabel"><%= f.label :has_psychosocialproblem, class: "hdb-label" %></td>
    <td colspan="2"></td>
  </tr>

  <tr class="field hdb-form-row hdb-form-contact-darker">
    <td class="hdb-form-checkbox"><%= f.check_box :has_healthproblem %></td>
    <td class="hdb-form-checkboxlabel"><%= f.label :has_healthproblem, class: "hdb-label" %></td>
    <td class="hdb-form-label"><%= f.label :healthproblem, class: "hdb-label", id: "contact_healthproblem_id_label" %></td>
    <td class="hdb-form-field"><%= f.collection_select :healthproblem_id, Healthproblem.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>
  </tr>

  <tr class="hdb-form-row hdb-form-row-grouptitle">
    <td colspan="2" class="hdb-form-grouptitle"><%= label :contact, :referral %></td>
  </tr>

  <tr rowspan="7" class="hdb-radio-rowspan">
    <td colspan="2" class="hdb-radio-box">
      <%= f.collection_radio_buttons :referral_id, Referral.order('created_at'), :id, :text, {:class => "hdb-form-radio-collection" } do |b|
        b.label(class: "hdb-form-radio-label") { b.radio_button(class: "hdb-form-radio")  + b.text }
      end %>
    </td>
    <td colspan=2 id="referral_box">
      <table class="hdb-form-layout-subtable">
        <tr><td>&nbsp;</td></tr>
        <tr class="field hdb-form-row">
          <td class="hdb-form-label"><%= f.label :referraldiakonie, class: "hdb-label", id: "contact_referraldiakonie_id_label" %></td>
          <td class="hdb-form-field"><%= f.collection_select :referraldiakonie_id, Referraldiakonie.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>
        </tr>
        <tr class="field hdb-form-row">
          <td class="hdb-form-label"><%= f.label :referralcaritas, class: "hdb-label", id: "contact_referralcaritas_id_label"  %></td>
          <td class="hdb-form-field"><%= f.collection_select :referralcaritas_id, Referralcaritas.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>
        </tr>
        <tr class="field hdb-form-row">
          <td class="hdb-form-label"><%= f.label :referralmedical, class: "hdb-label", id: "contact_referralmedical_id_label"  %></td>
          <td class="hdb-form-field"><%= f.collection_select :referralmedical_id, Referralmedical.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>
        </tr>
        <tr class="field hdb-form-row">
          <td class="hdb-form-label"><%= f.label :referralauthority, class: "hdb-label", id: "contact_referralauthority_id_label"  %></td>
          <td class="hdb-form-field"><%= f.collection_select :referralauthority_id, Referralauthority.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>
        </tr>
        <tr class="field hdb-form-row">
          <td class="hdb-form-label"><%= f.label :referralothercounselling, class: "hdb-label", id: "contact_referralothercounselling_id_label"  %></td>
          <td class="hdb-form-field"><%= f.collection_select :referralothercounselling_id, Referralothercounselling.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
      </table>
    </td>
  </tr>

  <tr class="field hdb-form-row hdb-form-contact-darker">
    <td class="hdb-form-label"><%= f.label :successfulinsurance, class: "hdb-label" %></td>
    <td class="hdb-form-field"><%= f.collection_select :successfulinsurance_id, Successfulinsurance.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>
    <td class="hdb-form-label"><%= f.label :failedinsurance, class: "hdb-label" %></td>
    <td class="hdb-form-field"><%= f.collection_select :failedinsurance_id, Failedinsurance.order('created_at'), :id, :text, {prompt: true}, {:class => "form-control hdb-form-input hdb-form-select" } %></td>
  </tr>

  <tr class="field hdb-form-row hdb-form-contact-darker">
    <td class="hdb-form-label"><%= f.label :comment, class: "hdb-label" %></td>
    <td class="hdb-form-field" colspan="3"><%= f.text_area :comment, class: "form-control hdb-comment" %></td>
  </tr>

  <tr class="actions">
    <td colspan="4" class="hdb-form-buttons">
      <%= f.submit t(:save_contact), class: "btn btn-hdb-std btn-contact-new" %>
      <%= link_to 'Abbrechen', contacts_path(:client_id => contact.client.id), class: 'btn btn-hdb-std btn-warning' %>
    </td>
  </tr>
</table>

<% end %>
