<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Vermittlung</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>

        <Cell><Data ss:Type="String">Altersklassen</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>

        <Cell><Data ss:Type="String">Staatsangehörigkeit</Data></Cell>

        <Cell><Data ss:Type="String">Geschlecht</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>

        <Cell><Data ss:Type="String">Aktueller Aufenthaltsstatus</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>

        <Cell><Data ss:Type="String">Aktueller Versicherungsstatus</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>

        <Cell><Data ss:Type="String">Beratung in deutsch möglich</Data></Cell>

        <Cell><Data ss:Type="String">Identifizierte Probleme: Versicherung</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>

        <Cell><Data ss:Type="String">Identifizierte Probleme: Kosten Krankenhausaufenthalt oder ambulant</Data></Cell>

        <Cell><Data ss:Type="String">Identifizierte Probleme: aufenthaltsrechtliches Anliegen</Data></Cell>

        <Cell><Data ss:Type="String">Identifizierte Probleme: Wohnen</Data></Cell>

        <Cell><Data ss:Type="String">Identifizierte Probleme: Arbeit/soziale Absicherung</Data></Cell>

        <Cell><Data ss:Type="String">Identifizierte Probleme: psychosoziale Probleme</Data></Cell>

        <Cell><Data ss:Type="String">Identifizierte Probleme: Gesundheit</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>

        <Cell><Data ss:Type="String">Vermittlung in: andere Beratungsstelle</Data></Cell>

        <Cell><Data ss:Type="String">Vermittlung in: medizinische Versorgung</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>

        <Cell><Data ss:Type="String">Vermittlung in: Behörde</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>

        <Cell><Data ss:Type="String">Vermittlung in: sonstiges</Data></Cell>

        <Cell><Data ss:Type="String">ratsuchende Person erfolgreich versichert in:</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>

        <Cell><Data ss:Type="String">Zugang zu Versicherung gescheitert an:</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>

      </Row>
      <Row>
        <% # Vermittlung %>
        <Cell><Data ss:Type="String">Gesundheitsamt (GA)</Data></Cell>
        <Cell><Data ss:Type="String">Beratungsstelle</Data></Cell>
        <Cell><Data ss:Type="String">MalteserMigrantenMedizin (MMM)</Data></Cell>
        <Cell><Data ss:Type="String">Wohnheim/Flüchtlingsunterkunft</Data></Cell>
        <Cell><Data ss:Type="String">Krankenhaus</Data></Cell>
        <Cell><Data ss:Type="String">Arztpraxis</Data></Cell>
        <Cell><Data ss:Type="String">sonstiges</Data></Cell>

        <% # Altersklassen %>
        <Cell><Data ss:Type="String">0-4</Data></Cell>
        <Cell><Data ss:Type="String">5-14</Data></Cell>
        <Cell><Data ss:Type="String">15-17</Data></Cell>
        <Cell><Data ss:Type="String">18-25</Data></Cell>
        <Cell><Data ss:Type="String">25-40</Data></Cell>
        <Cell><Data ss:Type="String">41-65</Data></Cell>
        <Cell><Data ss:Type="String">über 65</Data></Cell>

        <% # Staatsangehörigkeit %>
        <Cell><Data ss:Type="String"></Data></Cell>

        <% # Geschlecht %>
        <Cell><Data ss:Type="String"></Data>weiblich</Cell>
        <Cell><Data ss:Type="String"></Data>männlich</Cell>
        <Cell><Data ss:Type="String"></Data>unbekannt/andere</Cell>

        <% # Aktueller Aufenthaltsstatus %>
        <Cell><Data ss:Type="String">EU-Bürger</Data></Cell>
        <Cell><Data ss:Type="String">Geflüchteter</Data></Cell>
        <Cell><Data ss:Type="String">papierlos</Data></Cell>
        <Cell><Data ss:Type="String">deutsch</Data></Cell>
        <Cell><Data ss:Type="String">Drittstaatler mit sicherem Status in anderem EU-Land lebend</Data></Cell>
        <Cell><Data ss:Type="String">sonstiger Drittstaatler</Data></Cell>
        <Cell><Data ss:Type="String">unbekannt</Data></Cell>

        <% # Aktueller Versicherungsstatus %>
        <Cell><Data ss:Type="String">keiner oder unklar</Data></Cell>
        <Cell><Data ss:Type="String">GKV-Karte</Data></Cell>
        <Cell><Data ss:Type="String">PKV</Data></Cell>
        <Cell><Data ss:Type="String">EHIC</Data></Cell>
        <Cell><Data ss:Type="String">AsylBLG ohne Karte</Data></Cell>
        <Cell><Data ss:Type="String">Auslandsreisekrankenversicherung</Data></Cell>

        <% # Beratung in deutsch möglich %>
        <Cell><Data ss:Type="String">Beratung in deutsch möglich</Data></Cell>

        <% # Identifizierte Probleme: Versicherung %>
        <Cell><Data ss:Type="String">Versicherung klären allgemein</Data></Cell>
        <Cell><Data ss:Type="String">Beitragsschulden</Data></Cell>
        <Cell><Data ss:Type="String">EHIC unklar</Data></Cell>
        <Cell><Data ss:Type="String">Vorversicherungszeiten unklar</Data></Cell>
        <Cell><Data ss:Type="String">Familienversicherung</Data></Cell>
        <Cell><Data ss:Type="String">doppelt versichert</Data></Cell>
        <Cell><Data ss:Type="String">sonstiges</Data></Cell>

        <% # Identifizierte Probleme: Kosten Krankenhausaufenthalt oder ambulant %>
        <Cell><Data ss:Type="String"></Data></Cell>

        <% # Identifizierte Probleme: aufenthaltsrechtliches Anliegen %>
        <Cell><Data ss:Type="String"></Data></Cell>

        <% # Identifizierte Probleme: Wohnen %>
        <Cell><Data ss:Type="String"></Data></Cell>

        <% # Identifizierte Probleme: Arbeit/soziale Absicherung %>
        <Cell><Data ss:Type="String"></Data></Cell>

        <% # Identifizierte Probleme: psychosoziale Probleme %>
        <Cell><Data ss:Type="String"></Data></Cell>

        <% # Identifizierte Probleme: Gesundheit %>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data>bestehende Schwangerschaft</Cell>

        <% # Vermittlung in: andere Beratungsstelle %>
        <Cell><Data ss:Type="String"></Data></Cell>

        <% # Vermittlung in: medizinische Versorgung %>
        <Cell><Data ss:Type="String">MalteserMigrantenMedizin (MMM)</Data></Cell>
        <Cell><Data ss:Type="String">Krankenhaus</Data></Cell>
        <Cell><Data ss:Type="String">Praxis</Data></Cell>
        <Cell><Data ss:Type="String">sonstiges</Data></Cell>

        <% # Vermittlung in: Behörde %>
        <Cell><Data ss:Type="String">Sozialamt</Data></Cell>
        <Cell><Data ss:Type="String">Ausländerbehörde</Data></Cell>
        <Cell><Data ss:Type="String">Jugendamt</Data></Cell>
        <Cell><Data ss:Type="String">JobCenter/BA</Data></Cell>
        <Cell><Data ss:Type="String">Wohnungsamt</Data></Cell>
        <Cell><Data ss:Type="String">BAMF</Data></Cell>
        <Cell><Data ss:Type="String">Gesundheitsamt</Data></Cell>
        <Cell><Data ss:Type="String">sonstiges</Data></Cell>

        <% # Vermittlung in: sonstiges %>
        <Cell><Data ss:Type="String"></Data></Cell>

        <% # ratsuchende Person erfolgreich versichert in: %>
        <Cell><Data ss:Type="String">GKV</Data></Cell>
        <Cell><Data ss:Type="String">PKV</Data></Cell>
        <Cell><Data ss:Type="String">EHIC</Data></Cell>
        <Cell><Data ss:Type="String">Auslandsreisekrankenversicherung</Data></Cell>
        <Cell><Data ss:Type="String">freiwillig versichert</Data></Cell>
        <Cell><Data ss:Type="String">sonstiges</Data></Cell>

        <% # Zugang zu Versicherung gescheitert an: %>
        <Cell><Data ss:Type="String">Beitragsschulden</Data></Cell>
        <Cell><Data ss:Type="String">Vorversicherungszeiten</Data></Cell>
        <Cell><Data ss:Type="String">sonstiges</Data></Cell>

      </Row>
    <% @contacts.each do |contact| %>
      <Row>
        <% # Vermittlung %>
        <Cell><Data ss:Type="Number"><%= (contact.client.referrer_id == "G")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.referrer_id == "D" || contact.client.referrer_id == "N")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.referrer_id == "M")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.referrer_id == "W")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.referrer_id == "K")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.referrer_id == "A")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.referrer_id == "U" || contact.client.referrer_id == "S")? "1" : "0" %></Data></Cell>

        <% # Altersklassen %>
        <Cell><Data ss:Type="Number"><%= (contact.contactdate < contact.client.birthdate.advance(years: 5))? "1" : 0 %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.contactdate >= contact.client.birthdate.advance(years: 5) && contact.contactdate < contact.client.birthdate.advance(years: 15))? "1" : 0 %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.contactdate >= contact.client.birthdate.advance(years: 15) && contact.contactdate < contact.client.birthdate.advance(years: 18))? "1" : 0 %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.contactdate >= contact.client.birthdate.advance(years: 18) && contact.contactdate < contact.client.birthdate.advance(years: 26))? "1" : 0 %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.contactdate >= contact.client.birthdate.advance(years: 26) && contact.contactdate < contact.client.birthdate.advance(years: 40))? "1" : 0 %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.contactdate >= contact.client.birthdate.advance(years: 40) && contact.contactdate < contact.client.birthdate.advance(years: 65))? "1" : 0 %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.contactdate >= contact.client.birthdate.advance(years: 65))? "1" : 0 %></Data></Cell>

        <% # Geschlecht %>
        <Cell><Data ss:Type="String"><%= contact.client.citizenship.name %></Data></Cell>

        <% # Geschlecht %>
        <Cell><Data ss:Type="Number"><%= (contact.client.sex_id == "F")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.sex_id == "M")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.sex_id == "O" || contact.client.sex_id == "U")? "1" : "0" %></Data></Cell>

        <% # Aktueller Aufenthaltsstatus %>
        <Cell><Data ss:Type="Number"><%= (contact.client.legalstatus == "E")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.legalstatus == "A" || contact.client.legalstatus == "B" || contact.client.legalstatus == "F")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.legalstatus == "P")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.legalstatus == "D")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.legalstatus == "W")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.legalstatus == "V")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.legalstatus == "U")? "1" : "0" %></Data></Cell>

        <% # Aktueller Versicherungsstatus %>
        <Cell><Data ss:Type="Number"><%= (contact.client.legalstatus == "N" || contact.client.legalstatus == "U")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.legalstatus == "G")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.legalstatus == "P")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.legalstatus == "E")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.legalstatus == "A")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.client.legalstatus == "R")? "1" : "0" %></Data></Cell>

        <% # Beratung in deutsch möglich %>
        <Cell><Data ss:Type="String"><%= (contact.translatorused_id == "N")? "1" : "0" %></Data></Cell>

        <% # Identifizierte Probleme: Versicherung %>
        <Cell><Data ss:Type="Number"><%= (contact.has_insuranceproblem && contact.insuranceproblem_id == "G")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.has_insuranceproblem && contact.insuranceproblem_id == "S")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.has_insuranceproblem && contact.insuranceproblem_id == "E")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.has_insuranceproblem && contact.insuranceproblem_id == "V")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.has_insuranceproblem && contact.insuranceproblem_id == "F")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.has_insuranceproblem && contact.insuranceproblem_id == "D")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.has_insuranceproblem && contact.insuranceproblem_id == "O")? "1" : "0" %></Data></Cell>

        <% # Identifizierte Probleme: Kosten Krankenhausaufenthalt oder ambulant %>
        <Cell><Data ss:Type="Number"><%= (contact.has_paymentproblem)? "1" : "0" %></Data></Cell>

        <% # Identifizierte Probleme: aufenthaltsrechtliches Anliegen %>
        <Cell><Data ss:Type="Number"><%= (contact.has_legalproblem)? "1" : "0" %></Data></Cell>

        <% # Identifizierte Probleme: Wohnen %>
        <Cell><Data ss:Type="Number"><%= (contact.has_housingproblem)? "1" : "0" %></Data></Cell>

        <% # Identifizierte Probleme: Arbeit/soziale Absicherung %>
        <Cell><Data ss:Type="Number"><%= (contact.has_workproblem)? "1" : "0" %></Data></Cell>

        <% # Identifizierte Probleme: psychosoziale Probleme %>
        <Cell><Data ss:Type="Number"><%= (contact.has_psychosocialproblem)? "1" : "0" %></Data></Cell>

        <% # Identifizierte Probleme: Gesundheit %>
        <Cell><Data ss:Type="Number"><%= (contact.has_healthproblem)? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.has_healthproblem && contact.healthproblem_id == "R")? "1" : "0" %></Data></Cell>

        <% # Vermittlung in: andere Beratungsstelle %>
        <Cell><Data ss:Type="String"><%=
          if (contact.referral_id == "B")
            contact.referralothercounselling.text
          elsif (contact.referral_id == "C")
            "Caritas/" + contact.referralcaritas.text
          elsif (contact.referral_id == "D")
            "Diakonie/"  + contact.referraldiakonie.text
          else
            "0"
          end
          %></Data></Cell>

        <% # Vermittlung in: medizinische Versorgung %>
        <Cell><Data ss:Type="Number"><%= (contact.referral_id == "M" && contact.referralothercounselling.text == "M")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.referral_id == "M" && contact.referralothercounselling.text == "K")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.referral_id == "M" && contact.referralothercounselling.text == "P")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.referral_id == "M" && contact.referralothercounselling.text == "O")? "1" : "0" %></Data></Cell>

        <% # Vermittlung in: Behörde %>
        <Cell><Data ss:Type="Number"><%= (contact.referral_id == "A" && contact.referralothercounselling.text == "S")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.referral_id == "A" && contact.referralothercounselling.text == "A")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.referral_id == "A" && contact.referralothercounselling.text == "J")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.referral_id == "A" && contact.referralothercounselling.text == "C")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.referral_id == "A" && contact.referralothercounselling.text == "W")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.referral_id == "A" && contact.referralothercounselling.text == "B")? "1" : "0" %></Data></Cell>
        <% # WARNING: M here is intentional - mismatch medical/authority for Gesundheitsamt %>
        <Cell><Data ss:Type="Number"><%= (contact.referral_id == "M" && contact.referralothercounselling.text == "G")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.referral_id == "A" && contact.referralothercounselling.text == "O")? "1" : "0" %></Data></Cell>

        <% # Vermittlung in: sonstiges %>
        <Cell><Data ss:Type="Number"><%= (contact.referral_id == "O")? "1" : "0" %></Data></Cell>

        <% # ratsuchende Person erfolgreich versichert in: %>
        <Cell><Data ss:Type="Number"><%= (contact.successfulinsurance_id == "G")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.successfulinsurance_id == "P")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.successfulinsurance_id == "E")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.successfulinsurance_id == "R")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.successfulinsurance_id == "F")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.successfulinsurance_id == "A" || contact.successfulinsurance_id == "H" || contact.successfulinsurance_id == "K" || contact.successfulinsurance_id == "O")? "1" : "0" %></Data></Cell>

        <% # Zugang zu Versicherung gescheitert an: %>
        <Cell><Data ss:Type="Number"><%= (contact.successfulinsurance_id == "S")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.successfulinsurance_id == "V")? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.successfulinsurance_id == "W" || contact.successfulinsurance_id == "N" || contact.successfulinsurance_id == "A" || contact.successfulinsurance_id == "O")? "1" : "0" %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
