<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Contactdate</th>
      <th>Counsellor</th>
      <th>Contactreason</th>
      <th>Contactreasonfreetext</th>
      <th>Insurancestatus</th>
      <th>Counselledperson</th>
      <th>Translatorused</th>
      <th>Has insuranceproblem</th>
      <th>Has paymentproblem</th>
      <th>Has housingproblem</th>
      <th>Has workproblem</th>
      <th>Has psychosocialproblem</th>
      <th>Has healthproblem</th>
      <th>Insuranceproblem</th>
      <th>Healthproblem</th>
      <th>Referral</th>
      <th>Referralcaritas</th>
      <th>Referraldiakonie</th>
      <th>Referralothercounselling</th>
      <th>Referralmedical</th>
      <th>Referralauthority</th>
      <th>Successfulinsurance</th>
      <th>Failedinsurance</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.client %></td>
        <td><%= contact.contactdate %></td>
        <td><%= contact.counsellor %></td>
        <td><%= contact.contactreason %></td>
        <td><%= contact.contactreasonfreetext %></td>
        <td><%= contact.insurancestatus %></td>
        <td><%= contact.counselledperson %></td>
        <td><%= contact.translatorused %></td>
        <td><%= contact.has_insuranceproblem %></td>
        <td><%= contact.has_paymentproblem %></td>
        <td><%= contact.has_housingproblem %></td>
        <td><%= contact.has_workproblem %></td>
        <td><%= contact.has_psychosocialproblem %></td>
        <td><%= contact.has_healthproblem %></td>
        <td><%= contact.insuranceproblem %></td>
        <td><%= contact.healthproblem %></td>
        <td><%= contact.referral %></td>
        <td><%= contact.referralcaritas %></td>
        <td><%= contact.referraldiakonie %></td>
        <td><%= contact.referralothercounselling %></td>
        <td><%= contact.referralmedical %></td>
        <td><%= contact.referralauthority %></td>
        <td><%= contact.successfulinsurance %></td>
        <td><%= contact.failedinsurance %></td>
        <td><%= contact.comment %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
