<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:html="http://www.w3.org/TR/REC-html40">
  <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
    <Author>Clearingstelle Köln</Author>
    <LastAuthor>Clearingstelle Köln</LastAuthor>
    <Created><%= Time.now.strftime('%Y-%m-%dT%H:%M:%SZ') %></Created>
  </DocumentProperties>
  <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  </ExcelWorkbook>
  <Styles>
    <Style ss:ID="Default" ss:Name="Normal">
      <Alignment ss:Vertical="Bottom"/>
      <Borders/>
      <Font/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s21">
      <NumberFormat ss:Format="Short Date"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Tabelle Kontakte">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Klientencode</Data></Cell>
        <Cell><Data ss:Type="String">Kontaktdatum</Data></Cell>
        <Cell><Data ss:Type="String">Berater_in</Data></Cell>
        <Cell><Data ss:Type="String">Kontaktanlass aktuell</Data></Cell>
        <Cell><Data ss:Type="String">Kontaktanlass Freitext</Data></Cell>
        <Cell><Data ss:Type="String">Versicherungsstatus/Kostenträger</Data></Cell>
        <Cell><Data ss:Type="String">Beratene Person</Data></Cell>
        <Cell><Data ss:Type="String">Dolmetscher</Data></Cell>
        <Cell><Data ss:Type="String">Identifizierte Probleme: Versicherung</Data></Cell>
        <Cell><Data ss:Type="String">Identifizierte Probleme: Kosten Krankenhaus/ambulante Versorgung</Data></Cell>
        <Cell><Data ss:Type="String">Identifizierte Probleme: Aufenthaltsstatus</Data></Cell>
        <Cell><Data ss:Type="String">Identifizierte Probleme: Wohnung</Data></Cell>
        <Cell><Data ss:Type="String">Identifizierte Probleme: Arbeit/soziale Absicherung</Data></Cell>
        <Cell><Data ss:Type="String">Identifizierte Probleme: Psychosoziale Probleme</Data></Cell>
        <Cell><Data ss:Type="String">Identifizierte Probleme: Gesundheit</Data></Cell>
        <Cell><Data ss:Type="String">Problem mit Versicherung</Data></Cell>
        <Cell><Data ss:Type="String">Problem mit Gesundheit</Data></Cell>
        <Cell><Data ss:Type="String">Vermittlung an</Data></Cell>
        <Cell><Data ss:Type="String">Vermittlung an: Einrichtung (Caritas)</Data></Cell>
        <Cell><Data ss:Type="String">Vermittlung an: Einrichtung (Diakonie)</Data></Cell>
        <Cell><Data ss:Type="String">Vermittlung an: Beratungsstelle</Data></Cell>
        <Cell><Data ss:Type="String">Vermittlung an: Medizinische Versorgung</Data></Cell>
        <Cell><Data ss:Type="String">Vermittlung an: Behörde</Data></Cell>
        <Cell><Data ss:Type="String">erfolgreich versichert bei</Data></Cell>
        <Cell><Data ss:Type="String">Zugang zu Versicherung gescheitert</Data></Cell>
        <Cell><Data ss:Type="String">Sonstiges/interne Notiz</Data></Cell>
      </Row>
    <% @contacts.each do |contact| %>
      <Row>
        <Cell><Data ss:Type="String"><%= contact.client_id %></Data></Cell>
        <Cell ss:StyleID="s21"><Data ss:Type="DateTime"><%= contact.contactdate.strftime('%Y-%m-%dT%H:%M:%SZ') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.counsellor.username %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.contactreason.text %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.contactreasonfreetext %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.insurancestatus.text %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.counselledperson.text %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.translatorused.text %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.has_insuranceproblem)? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.has_paymentproblem)? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.has_legalproblem)? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.has_housingproblem)? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.has_workproblem)? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.has_psychosocialproblem)? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= (contact.has_healthproblem)? "1" : "0" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.insuranceproblem.text %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.healthproblem.text %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.referral.text %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.referralcaritas.text %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.referraldiakonie.text %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.referralothercounselling.text %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.referralmedical.text %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.referralauthority.text %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.successfulinsurance.text %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.failedinsurance.text %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.comment %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
