<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @contact.client %>
</p>

<p>
  <strong>Contactdate:</strong>
  <%= @contact.contactdate %>
</p>

<p>
  <strong>Counsellor:</strong>
  <%= @contact.counsellor %>
</p>

<p>
  <strong>Contactreason:</strong>
  <%= @contact.contactreason %>
</p>

<p>
  <strong>Contactreasonfreetext:</strong>
  <%= @contact.contactreasonfreetext %>
</p>

<p>
  <strong>Insurancestatus:</strong>
  <%= @contact.insurancestatus %>
</p>

<p>
  <strong>Counselledperson:</strong>
  <%= @contact.counselledperson %>
</p>

<p>
  <strong>Translatorused:</strong>
  <%= @contact.translatorused %>
</p>

<p>
  <strong>Has insuranceproblem:</strong>
  <%= @contact.has_insuranceproblem %>
</p>

<p>
  <strong>Has paymentproblem:</strong>
  <%= @contact.has_paymentproblem %>
</p>

<p>
  <strong>Has housingproblem:</strong>
  <%= @contact.has_housingproblem %>
</p>

<p>
  <strong>Has workproblem:</strong>
  <%= @contact.has_workproblem %>
</p>

<p>
  <strong>Has psychosocialproblem:</strong>
  <%= @contact.has_psychosocialproblem %>
</p>

<p>
  <strong>Has healthproblem:</strong>
  <%= @contact.has_healthproblem %>
</p>

<p>
  <strong>Insuranceproblem:</strong>
  <%= @contact.insuranceproblem %>
</p>

<p>
  <strong>Healthproblem:</strong>
  <%= @contact.healthproblem %>
</p>

<p>
  <strong>Referral:</strong>
  <%= @contact.referral %>
</p>

<p>
  <strong>Referralcaritas:</strong>
  <%= @contact.referralcaritas %>
</p>

<p>
  <strong>Referraldiakonie:</strong>
  <%= @contact.referraldiakonie %>
</p>

<p>
  <strong>Referralothercounselling:</strong>
  <%= @contact.referralothercounselling %>
</p>

<p>
  <strong>Referralmedical:</strong>
  <%= @contact.referralmedical %>
</p>

<p>
  <strong>Referralauthority:</strong>
  <%= @contact.referralauthority %>
</p>

<p>
  <strong>Successfulinsurance:</strong>
  <%= @contact.successfulinsurance %>
</p>

<p>
  <strong>Failedinsurance:</strong>
  <%= @contact.failedinsurance %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @contact.comment %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
