<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @referral.code %>
</p>

<p>
  <strong>Text:</strong>
  <%= @referral.text %>
</p>

<%= link_to 'Edit', edit_referral_path(@referral) %> |
<%= link_to 'Back', referrals_path %>
