<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @referralothercounselling.code %>
</p>

<p>
  <strong>Text:</strong>
  <%= @referralothercounselling.text %>
</p>

<%= link_to 'Edit', edit_referralothercounselling_path(@referralothercounselling) %> |
<%= link_to 'Back', referralothercounsellings_path %>
