<%= form_for(insurancestatus) do |f| %>
  <% if insurancestatus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(insurancestatus.errors.count, "error") %> prohibited this insurancestatus from being saved:</h2>

      <ul>
      <% insurancestatus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
