<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @insurancestatus.code %>
</p>

<p>
  <strong>Text:</strong>
  <%= @insurancestatus.text %>
</p>

<%= link_to 'Edit', edit_insurancestatus_path(@insurancestatus) %> |
<%= link_to 'Back', insurancestatuses_path %>
