<p id="notice"><%= notice %></p>

<h1>Counselledpersons</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @counselledpersons.each do |counselledperson| %>
      <tr>
        <td><%= counselledperson.code %></td>
        <td><%= counselledperson.text %></td>
        <td><%= link_to 'Show', counselledperson %></td>
        <td><%= link_to 'Edit', edit_counselledperson_path(counselledperson) %></td>
        <td><%= link_to 'Destroy', counselledperson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Counselledperson', new_counselledperson_path %>
