<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @referraldiakony.code %>
</p>

<p>
  <strong>Text:</strong>
  <%= @referraldiakony.text %>
</p>

<%= link_to 'Edit', edit_referraldiakony_path(@referraldiakony) %> |
<%= link_to 'Back', referraldiakonies_path %>
