<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @sex.code %>
</p>

<p>
  <strong>Text:</strong>
  <%= @sex.text %>
</p>

<%= link_to 'Edit', edit_sex_path(@sex) %> |
<%= link_to 'Back', sexes_path %>
