<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @translatorused.code %>
</p>

<p>
  <strong>Text:</strong>
  <%= @translatorused.text %>
</p>

<%= link_to 'Edit', edit_translatorused_path(@translatorused) %> |
<%= link_to 'Back', translatoruseds_path %>
