<p id="notice"><%= notice %></p>

<h1>Referralauthorities</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @referralauthorities.each do |referralauthority| %>
      <tr>
        <td><%= referralauthority.code %></td>
        <td><%= referralauthority.text %></td>
        <td><%= link_to 'Show', referralauthority %></td>
        <td><%= link_to 'Edit', edit_referralauthority_path(referralauthority) %></td>
        <td><%= link_to 'Destroy', referralauthority, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Referralauthority', new_referralauthority_path %>
