<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @referralauthority.code %>
</p>

<p>
  <strong>Text:</strong>
  <%= @referralauthority.text %>
</p>

<%= link_to 'Edit', edit_referralauthority_path(@referralauthority) %> |
<%= link_to 'Back', referralauthorities_path %>
